#theme_option_body{
  background: #EAEEF3;
  box-shadow: 0 1.25em 1.8em rgb(8 21 65 / 25%);
  padding: 20px 25px;
  margin-top: 25px;
  width: 90%;
  max-width: 1000px;
  border-radius: 5px;
}
#theme_option_body label{
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
}
#theme_option_body input[type="text"]{
  background: #EAEEF3;
  box-shadow: 0 1.25em 1.8em rgb(8 21 65 / 25%);
  width: 70%;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  color: #333;
}
#theme_option_body input[type="submit"]{
  background: #ea1a70;
  box-shadow: 0 1.25em 1.8em rgb(8 21 65 / 25%);
  width: auto;
  padding: 10px 45px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #ea1a70;
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
#theme_option_body input[type="submit"]:hover{
  background: #262626;
  border: 1px solid #262626;
}